@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;

  /* Button Colors */
  --main-button-color: #0d6efd;
  --button-text-color: #fff;
  --button-cancel: #6c757d;
  --button-success: #28a745;
  --button-danger: #dc3545;

  /* Button Hover Colors */
  --button-hover: #0b5ed7;
  --button-cancel-hover: #343a40;
  --button-success-hover: #218838;
  --button-danger-hover: #c82333;

  /* Input and Search */
  --input-border: #ced4da;
  --search-text-color: #495057;

  /* Pagination */
  --pagination-text-color: #6ea8fe;
  --pagination-border-color: #495057;

  /* Text */
  --text-color: #212529;

  /* Table */
  --table-border: #dee2e6;

  /* Editable */
  --editable-color: #eee;
}
